# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.env.*

# Virtual env (uv or venv)
.venv/
uv.cache/

# Jupyter/IPython
.ipynb_checkpoints/

# Streamlit
.streamlit/config.toml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Cache
.cache/
*.sqlite3

# VSCode
.vscode/
